# Ignorar arquivos gerados pelo Composer
/vendor

# Ignorar arquivos de dependências do Laravel
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor

# Ignorar arquivos de configuração local
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Ignorar logs e arquivos temporários
/storage/logs/*.log
/storage/app/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache

# Ignorar arquivos gerados pelo IDE
/.idea
/.vscode
/.phpstorm.meta.php
/.homestead

